*{
	padding: 0;
	margin: 0;
}


.navbar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	background-color: white;
	width: 98%;
	
	padding: 30px 20px;
	
  	z-index: 1;
}

.left_side_nav a{
	text-decoration: none;
	color: black;
	padding-right: 25px;

}

.left_side_nav a:hover{
	color: black;
	text-decoration: underline 2px #5ECE7B;
	text-underline-offset: 15px;

}


.right_side_nav{
	display: flex;
	gap: 25px;
}

#money {
	padding: 5px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	width: 80px;
	background-color: #fff;
	color: #333;
	cursor: pointer;
 }
 

 
 /* Style the dropdown arrow */
 #money::after {
	content: '\25BC'; /* Unicode character for down arrow */
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
	background-color: #5ECE7B;
 }
 
 /* Style the options */
 #money option {
	background-color: #fff;
	color: #333;
 }
 
 /* Style the options on hover */
 #money option:hover {
	background-color: #3498db;
	color: #fff;
 }


 .icon-cart{
	position: relative;
}


.icon-cart span{
	display: flex;
	width: 20px;
	height: 20px;
	background-color: rgb(0, 0, 0);
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 50%;
	position: absolute;
	bottom: 65%;
	right: 15px;
}


.cartTab{
	width: 25vw;
	height: 70vh;
	position: fixed;
	inset: 0 10px 0 auto;
	display: grid;
	grid-template-rows: 70px 1fr 70px;
	background-color: rgb(255, 255, 255);
	padding: 20px ;
	border: 1px solid rgb(174, 174, 174);
	
	top: 100px;
}

h1{
	
	font-weight: 300; 
	padding: 30px 0px;

}
.btn{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}
.btn button{
	border: 1px solid black;
	height: 50px;
	cursor: pointer;

}

.btn .checkOut{
	background-color: #5ECE7B;
}

.image img{
	width: 100px;
	height: 150px;

}
.item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 0px;
	
}



.size{

	border: 1px solid black;
	width: 25px;
	height: 25px;
	text-align: center;
}
.size_div{
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.color{
	border: 1px solid black;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}
.color_div{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 10px;
}








.listCart{
	display: flex;
	flex-direction: column;
	scrollbar-width: thin;
	overflow: scroll;
}